.job{

    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 300px;
    height: 163px;
    padding: 15px;

    .period {

        div {
            width: 10px;
            height: 10px;
            border: 1px solid #f38e9a;
            border-radius: 50%;
            background-color: #f38e9a;
            position: absolute;
            margin-left: -21px;
        }
       
        p {
        font-size: 15px;
        color: #ccc;
        font-weight: bold;
        text-transform: uppercase;
       } 
    }

    #job-name {
        font-size: 20px;
    }

    #company {
        font-size: 15px;
        font-weight: bold;
    }
}