@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
* {
    font-family: 'Handlee', cursive;
    font-size: 15px;
}

.section {
    width: 450px;
    height: auto;
    border-bottom: 1px solid #ccc;

    #title {
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;

        &:hover {
            font-size: 17px;
        }
    }

    #presentational {
        width: 450px;
        height: 250px;
    }

    #link {
        text-decoration: none;
        color: black;

        &:hover {
            color: blue;
        }
    }

    #published {
        font-size: 11px;
        float: right;
    }
}

.infos {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: start;
    align-content: start;
    margin: 250px 25px 50px 50px;
}